name: Deploy to Google Cloud Run

on:
  push:
    branches: [main]
  workflow_dispatch: {}

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v1

      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker ${{ secrets.GCP_REGION }}-docker.pkg.dev

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image for linux/amd64
        run: |
          docker buildx build \
            --platform linux/amd64 \
            -t ${{ secrets.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/medito/medito:latest \
            --push .

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy medito \
            --image=${{ secrets.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/medito/medito:latest \
            --platform=managed \
            --region=${{ secrets.GCP_REGION }} \
            --allow-unauthenticated \
            --port=4173 \
            --set-env-vars \
              CURRENCY_API_URL=${{ secrets.CURRENCY_API_URL }},\
              CURRENCY_API_KEY=${{ secrets.CURRENCY_API_KEY }}  
              STRIPE_SECRET_KEY=${{ secrets.STRIPE_SECRET_KEY }}  
              STRIPE_PRODUCT_ID=${{ secrets.STRIPE_PRODUCT_ID }}  
              STRIPE_SUCCESS_URL=${{ secrets.STRIPE_SUCCESS_URL }}  
              STRIPE_CANCEL_URL=${{ secrets.STRIPE_CANCEL_URL }}  